<nav class="navbar navbar-expand-md navbar-dark bg-dark" (scroll)="onScroll()"
    [ngClass]="navbarFixed ? 'fixed' : 'notFixed'">
    <div class="container-fluid mx-5">
        <img src="../../../assets/images/logo.png" style="width: 3%;"><span class="mx-2"></span>
        <a class=" navbar-brand" style="font-weight: bold; font-size: 20px;" routerLink="/">Trái Đất xanh</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-5" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/articles" routerLinkActive="active">Tin tức</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contests" routerLinkActive="active">Cuộc thi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about-us" routerLinkActive="active">Về chúng tôi</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/errors" routerLinkActive="active">Error</a>
                </li> -->
            </ul>

            <!-- If logged in-->
            <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user; else notLoggedIn" dropdown>
                <img class="avatar" src="{{user.avatarUrl || '../../../../../assets/images/user.png'}}"
                    alt="Ảnh đại diện {{user.userName}}"> &nbsp;
                <a class="text-light dropdown-toggle text-decoration-none" id="dropdownMenuButton" dropdownToggle>
                    {{user.fullName | titlecase}}</a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right mt-2">
                    <a class="dropdown-item" routerLink="/profile">Trang cá nhân</a>
                    <a *appHasRole="['Admin', 'Manager', 'Teacher']" class="dropdown-item" routerLink="/admin">Trang
                        quản lý</a>
                    <a class="dropdown-item" (click)="logout()">Đăng xuất</a>
                </div>
            </div>

            <!--If not logged In-->
            <ng-template #notLoggedIn>
                <button class="btn btn-success me-2" (click)="openLoginModal(loginFrm)" type="submit">Đăng
                    nhập</button>
                <button class="btn btn-primary" type="button" (click)="openRegisterModal(registerFrm)">Đăng
                    ký</button>
            </ng-template>
        </div>
    </div>
</nav>

<!--Register Form-->
<ng-template #registerFrm>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Đăng ký</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close"
            (click)="closeModal(this.modalRegister!)">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #registerForm="ngForm" (ngSubmit)="register()" method="post">
            <div class="mb-3">
                <label for="username" class="col-form-label">Tài khoản:</label>
                <input type="text" class="form-control" name="username" id="username"
                    [(ngModel)]="modelRegister.username" placeholder="Tài khoản">
            </div>
            <div class="mb-3">
                <label for="password" class="col-form-label">Mật khẩu:</label>
                <input type="password" class="form-control" name="password" id="password"
                    [(ngModel)]="modelRegister.password" placeholder=" Mật khẩu">
            </div>
            <div class="mb-3">
                <label for="password" class="col-form-label">Nhập lại mật khẩu:</label>
                <input type="password" class="form-control" name="password" id="password"
                    [(ngModel)]="modelRegister.password" placeholder=" Mật khẩu">
            </div>
            <div>

            </div>
            <button type="submit" class="btn btn-primary">Đăng ký</button>
        </form>
    </div>
    <div class="modal-footer">
        <a class="link-secondary" (click)="openLoginModal(loginFrm)">Đã có tài khoản?</a>
    </div>

</ng-template>

<!--Login Form-->
<ng-template #loginFrm>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Đăng nhập</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close"
            (click)="closeModal(this.modalLogin!)">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #loginForm="ngForm" (ngSubmit)="login()" method="post">
            <div class="mb-3">
                <label for="username" class="col-form-label">Tài khoản:</label>
                <input type="text" class="form-control" id="username" placeholder="Tài khoản" name="username"
                    [(ngModel)]="modelLogin.username">
            </div>
            <div class="mb-3">
                <label for="password" class="col-form-label">Mật khẩu:</label>
                <input type="password" class="form-control" id="password" placeholder="Mật khẩu" name="password"
                    [(ngModel)]="modelLogin.password">
            </div>
            <button type="submit" class="btn btn-primary">Đăng nhập</button>
        </form>
    </div>
    <div class="modal-footer">
        <a class="link-secondary" href="">Quên mật khẩu?</a>
        <span>&nbsp;|&nbsp;</span>
        <a class="link-secondary" (click)="openRegisterModal(registerFrm)">Chưa có tài khoản?</a>

    </div>
</ng-template>