<div class="container">
    <form #changePasswordForm="ngForm" (ngSubmit)="changePassword()">
        <div class="mb-3">
            <label for="oldPassword" class="col-form-label"><b>Mật khẩu cũ:</b></label>
            <input type="password" class="form-control" id="oldPassword" placeholder="Mật khẩu cũ" name="oldPassword"
                [(ngModel)]="model.oldPassword" required>
        </div>
        <div class="mb-3">
            <label for="newPassword" class="col-form-label"><b>Mật khẩu mới:</b></label>
            <input type="password" class="form-control" id="newPassword" placeholder="Mật khẩu mới" name="newPassword"
                [(ngModel)]="model.newPassword" required>
        </div>
        <div class="mb-3">
            <label for="rptNewPassword" class="col-form-label"><b>Nhập lại mật khẩu mới:</b></label>
            <input type="password" class="form-control" id="rptNewPassword" placeholder=" Nhập lại mật khẩu mới"
                name="rptNewPassword" [(ngModel)]="model.rptNewPassword" required>
        </div>
        <button type="submit" class="btn btn-primary">Đổi</button>
    </form>
</div>